@{
    ViewData["Title"] = "Eventos";
}

@model IList<EventoModel>

<div class="container" >
    <nav class="rounded-pill shadow bg-light" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb align-content-center">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><div class="bg-image hover-overlay"><img src="~/imagen/icono_index.png" style="width: 30px;"></div></a></li>
            <li class="breadcrumb-item"><a asp-controller="Artista" asp-action="Artista">Artistas</a></li>
            <li class="breadcrumb-item"><a href="/Artista/Ficha_artista/@foreach(EventoModel evento in Model){@evento.id_artista}">Ficha @foreach(EventoModel evento in Model){@evento.nombre_artista}</a></li>
            <li class="breadcrumb-item active"><a>Eventos @foreach(EventoModel evento in Model){@evento.nombre_artista}</a></li>
        </ol>
    </nav>
</div>

<div class="container" align="center">
    <h1 class="display-2"> Eventos Proximos </h1>
    <br><br><br>
</div>

<div class="row shadow p-3 mb-5 bg-body rounded" align="center">
    @foreach (EventoModel evento in Model)
    {   
        <div class="row g-0 bg-dark position-relative ">
            <div class="col-md-6 mb-md-0 p-md-4">
              <img src="@evento.imagen_evento"  class="w-100" alt="...">
            </div>
            <div class="col-md-6 p-4 ps-md-0 text-light">
                <h5 class="mt-0" id="titulo"></h5>
                <h3>Informacion</h3>
                <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Evento</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Nombre</td>
                        <td id="nombre">@evento.nombre_evento</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Lugar Evento</td>
                        <td id="lugarEvento">@evento.lugar_evento</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td >Fecha Evento</td>
                        <td id="fechaEvento">@evento.fecha_evento</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Artista</td>
                        <td id="nombreartista">@evento.nombre_artista</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>Genero Musical</td>
                        <td id="genero">@evento.genero_musical</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>Tipo de evento STR</td>
                        <td id="tipoEventoStr">-</td>
                    </tr>
                </tbody>
                </table>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="/Evento/CompraEntrada/@evento.id_artista" class="btn btn-warning">Comprar Entrada</a>
                </div>
            </div>
        </div>
    }
</div>

@section Styles {
    <style>
        .breadcrumb-item:hover img {
            filter: brightness(0.6);
            -webkit-filter: brightness(0.6);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

        .breadcrumb-item a {
            text-decoration: none;
            color:black;
        }
        
        .breadcrumb-item:hover a {
            color:#ffc107
        }
    </style>
}