@{
    ViewData["Title"] = "Artistas";
}
@model IList<ArtistaModel>
 
<div class="container" >
    <nav class="rounded-pill shadow bg-secondary opacity" style="--bs-breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+) !important;" aria-label="breadcrumb">
        <ol class="breadcrumb align-content-center">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index"><div class="bg-image hover-overlay"><img src="~/imagen/icono_index.png" style="width: 30px;"></div></a></li>
            <li class="breadcrumb-item active"><a>Artistas</a></li>
        </ol>
    </nav>
</div>

<div class="container" align="center">
    <h1 class="display-2"> Artistas </h1>
    <br><br><br>
</div>

<div class="row" align="center">

    @foreach (ArtistaModel artista in Model)
    {   
        <div class="col-sm-3 ">
          <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
              <img src="@artista.foto" class="card-img-top" alt="Card image">
              <div class="card-body">
                <h5 class="card-title">@artista.nombre</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Genero: @artista.genero</li>
                <li class="list-group-item">Fecha de nacimiento: @artista.fecha_nacimiento</li>
                <li class="list-group-item">Edad: @artista.edad</li>
              </ul>
              <div class="card-body" align="center">
                <a href="/Artista/Ficha_artista/@artista.id" class="btn btn-dark">Ver mas</a>
              </div>
          </div>
        </div>
    }
</div>

@section Styles {
    <style>
        .breadcrumb-item:hover img {
            filter: brightness(0.6);
            -webkit-filter: brightness(0.6);
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
        }

        .breadcrumb-item a {
            text-decoration: none;
            color:black;
        }
        
        .breadcrumb-item:hover a {
            color:#ffc107
        }
    </style>
}