@{
    ViewData["Title"] = "Artistas";
}
@model IList<ArtistaModel>

<div class="container" >
    <a class="btn btn-dark rounded-pill" asp-area="" asp-controller="Home" asp-action="Index"> - VOLVER - </a>
</div>

<div class="container" align="center">
    <h1 class="display-2">--------- Artistas ---------</h1>
    <br><br><br>
</div>

<div class="row" align="center">

    @foreach (ArtistaModel artista in Model)
    {   
        <div class="col-sm-3 ">
          <div class="card shadow p-3 mb-5 bg-body rounded" style="width: 18rem;">
              <img src="@artista.foto" class="card-img-top" alt="Card image">
              <div class="card-body">
                <h5 class="card-title">@artista.nombre</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Genero: @artista.genero</li>
                <li class="list-group-item">Fecha de nacimiento: @artista.fecha_nacimiento</li>
                <li class="list-group-item">Edad: @artista.edad</li>
              </ul>
              <div class="card-body" align="center">
                <a href="/Artista/Ficha_artista/@artista.id" class="btn btn-dark">Ver mas</a>
              </div>
          </div>
        </div>
    }
</div>